* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #f8f8f9;
}
.navbar {
  display: flex;
  align-items: center;
  padding-top: 10px;
  background: #f8f8f9 0% 0% no-repeat padding-box;
}
.navbar img {
  padding-left: 140px;
  margin-right: 639px;
}
.nav-links {
  display: flex;
  margin-left: -100px;
}
.nav-links p {
  padding-right: 30px;
  text-transform: uppercase;
  font: normal normal bold 12px/15px Montserrat;
  font-weight: bold;
}
.nav-links p span {
  color: #0062ff;
}
.user-group {
  display: flex;
  align-items: center;
  padding-right: 140px;
}
.sign-in-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #0062ff;
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 54px;
  margin-left: 220px;
  font: normal normal bold 12px/15px Montserrat;
}
.sign-in-group i {
  padding-right: 10px;
}
.sign-up-group {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  background: #60d91a 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #60d91a4d;
  border-radius: 4px;
  padding: 15px 19px;
  font: normal normal bold 12px/15px Montserrat;
}
.login-content {
  display: flex;
  flex-direction: row;
  margin-top: 34px;
  background: #f8f8f9 0% 0% no-repeat padding-box;
}
.login-img {
  background-image: url("/Assets/daniel-olah-1Vt21LuLSug-unsplash@2x.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 960px;
  height: 880px;
  color: white;
  text-align: center;
  margin-right: 258px;
}
.login-img h1 {
  text-align: center;
  padding: 219px 0px 0px 0px;
  font: normal normal bold 40px/50px Open Sans;
  letter-spacing: -2px;
  color: #ffffff;
  opacity: 1;
}
.login-img p {
  font: normal normal normal 14px/29px Open Sans;
  letter-spacing: -0.14px;
  color: #ffffff;
  opacity: 1;
}
.second-p {
  font: normal normal normal 14px/29px Open Sans;
  letter-spacing: -0.14px;
  color: #ffffff;
  opacity: 1;
  padding-top: 204px;
}
.mail {
  font: normal normal bold 18px/29px Open Sans;
  letter-spacing: -0.18px;
  color: #00f241;
  opacity: 1;
}

.login-info {
  text-align: center;
  padding-top: 110px;
  margin-right: 258px;
}
.login-content h2 {
  text-align: center;
}
input {
  width: 445px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #9a9abe;
  padding: 16px 0px 15px 25px;
  margin-bottom: 20px;
}
.forgot {
  display: flex;
  justify-content: space-between;
}
.forgot-alt {
  text-decoration: none;
  font: normal normal normal 14px/22px Open Sans;
  letter-spacing: 0px;
  color: #0062ff;
  opacity: 1;
}
.forgot-alt-2 {
  text-decoration: none;
  font: normal normal normal 14px/22px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.sign-btn {
  margin-top: 50px;
  margin-left: 120px;
  margin-right: 120px;
  text-align: center;
  background: #0062ff 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  padding: 17px 65px;
  font: normal normal normal 14px/29px Montserrat;
  letter-spacing: 2.8px;
  color: #ffffff;
}
.social-btn {
  color: #728391;
  padding-top: 25px;
  padding-bottom: 51px;
}
.fb-icon {
  margin-right: 20px;
}

.bottom-text {
  font: normal normal normal 14px/24px Open Sans;
  letter-spacing: -0.14px;
  color: #000000;
}
.bottom-text span {
  font: normal normal normal 14px/24px Open Sans;
  letter-spacing: -0.14px;
  color: #0062ff;
}
