* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #f8f8f9;
}
.navbar {
  display: flex;
  align-items: center;
  padding-top: 10px;
  background: #f8f8f9 0% 0% no-repeat padding-box;
}
.navbar img {
  padding-left: 140px;
  margin-right: 639px;
}
.nav-links {
  display: flex;
  margin-left: -100px;
}
.nav-links p {
  padding-right: 30px;
  text-transform: uppercase;
  font: normal normal bold 12px/15px Montserrat;
  font-weight: bold;
}
.nav-links p span {
  color: #0062ff;
}
.user-group {
  display: flex;
  align-items: center;
  padding-right: 140px;
}
.sign-in-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #0062ff;
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 54px;
  margin-left: 220px;
  font: normal normal bold 12px/15px Montserrat;
  cursor: pointer;
}
.sign-in-group i {
  padding-right: 10px;
}
.sign-up-group {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  background: #60d91a 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #60d91a4d;
  border-radius: 4px;
  padding: 15px 19px;
  font: normal normal bold 12px/15px Montserrat;
  cursor: pointer;
}
.main-content {
  display: flex;
  flex-direction: row;
  margin-top: 34px;
  margin-left: 310px;
  margin-right: 170px;
  background: #f8f8f9 0% 0% no-repeat padding-box;
}
.dashboard {
  background-color: #0b2a5a;
  width: 290px;
}

.profile-info {
  text-align: center;
  color: white;
  opacity: 1;
}
.profile-info p {
  color: #9a9abe;
  opacity: 1;
  font: normal normal normal 14px/18px Open Sans;
}
.title {
  margin-bottom: 2px;
}
.profile-info img {
  margin: 50px 70px 46px 50px;
  width: 150px;
  height: 150px;
  border: 2px solid #ffffff;
  opacity: 1;
  border-radius: 50%;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  color: #9a9abe;
  font: normal normal bold 14px/18px Open Sans;
  text-transform: uppercase;
  padding-top: 40px;
}
.dashboard-content img {
  margin-left: 30px;
  margin-right: 20px;
}
.dashboard-content-flex {
  display: flex;
  align-items: center;
  padding-bottom: 35px;
}
#dashboard-content-flex-first {
  border-left: 5px solid #60d91a;
  color: #60d91a;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
#dashboard-content-flex-first img {
  margin-left: 23px;
}
#dashboard-button {
  cursor: pointer;
}
.fourth-page-content {
  padding-left: 50px;
}
.chat-div {
  display: flex;
  flex-direction: row;
}
.user-div {
  background: #1000a9 0% 0% no-repeat padding-box;
  height: 770px;
  width: 425px;
}
.user-div input {
  background: #f8f8f9 0% 0% no-repeat padding-box;
  border-radius: 25px;
  opacity: 1;
  padding: 10px 0px 12px 38px;
  text-align: left;
  font: normal normal normal 14px/29px Open Sans;
  letter-spacing: 0px;
  color: #728391;
  opacity: 1;
  width: 300px;
  border: none;
  margin: 25px 62px 25px 45px;
}
.message-user-group {
  display: flex;
  flex-direction: column;
  width: 425px;
}
.message-user-group-each {
  display: flex;
  align-items: center;
  width: 100%;
}
.message-user-group-each-first {
  display: flex;
  align-items: center;
  width: 100%;
  background: #0062ff 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #ffffff;
}
.message-user-group-each-first img {
  border-radius: 50%;
  margin: 19px 24px 21px 28px;
}
.message-user-group-each-first p {
  font: normal normal normal 14px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
}
.message-user-group-each-first h5 {
  font: normal normal bold 14px/24px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
}
.message-user-group-each img {
  border-radius: 50%;
  margin: 19px 24px 21px 28px;
}
.message-user-group-each p {
  font: normal normal normal 14px Open Sans;
  letter-spacing: 0px;
  color: #9a9abe;
}
.message-user-group-each h5 {
  font: normal normal bold 14px/24px Open Sans;
  letter-spacing: 0px;
  color: #9a9abe;
}
.span {
  position: absolute;
  left: 1020px;
  color: #0062ff;
}
.span-first {
  color: #00f241;
}
.message-div {
  width: 535px;
  background: #d7dde8 0% 0% no-repeat padding-box;
}
.blue-bg {
  position: absolute;
  margin-top: 234px;
  left: 1075px;
  width: 495px;
  border: 20px solid #0062ff;
}
.message-sub-div {
  position: relative;
  margin-left: 10px;
  width: 515px;
  background: #ffffff 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
}
.msg-incoming {
  margin-top: 25px;
  margin-left: 30px;
  float: left;
  width: 350px;
  background: #728391 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0b2a5a1a;
  opacity: 1;
  padding: 11px 20px 11px 30px;
  margin-bottom: 10px;
  border-radius: 5px 5px 5px 0px;
}
.msg-incoming::after {
  content: "";
  display: block;
  position: absolute;
  top: 127px;
  left: 15px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 15px solid #728391;
}
.msg-incoming-2::after {
  content: "";
  display: block;
  position: absolute;
  top: 482px;
  left: 15px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 15px solid #728391;
}
.msg-outgoing {
  margin-left: 85px;
  /* margin-right: 30px; */
  margin-top: 26px;
  margin-bottom: 10px;
  width: 350px;
  background: #60d91a 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0b2a5a1a;
  opacity: 1;
  padding: 11px 20px 11px 30px;
  border-radius: 5px 5px 0px 5px;
  position: relative;
}
.msg-outgoing::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  right: -15px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 15px solid #60d91a;
}
.top {
  font: normal normal normal 14px/24px Open Sans;
  letter-spacing: 0px;
  color: #728391;
  opacity: 1;
  padding-left: 258px;
}
.bottom {
  font: normal normal normal 14px/24px Open Sans;
  letter-spacing: 0px;
  color: #728391;
  opacity: 1;
  padding-left: 127px;
}
.msg-p {
  font: normal normal normal 14px/24px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.type-box input {
  width: 490px;
  height: 50px;
  margin: 5px 10px 5px 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 25px;
  opacity: 1;
  border: none;
  text-align: left;
  font: normal normal normal 14px/29px Open Sans;
  letter-spacing: 0px;
  color: #728391;
  opacity: 1;
  padding-left: 28px;
  /* padding: 14px 0px 17px 28px; */
}
.type-box {
  display: flex;
  flex-direction: row;
}
.fa-paper-plane {
  margin-top: 15px;
  margin-left: -65px;
  color: #0062ff;
}
#workshop-btn {
  cursor: pointer;
}
#profile-btn {
  cursor: pointer;
}
.notification {
  position: absolute;
  background: #df0000;
  color: white;
  padding: 1px 6px 2px 7px;
  border-radius: 50%;
  top: 928px;
  left: 354px;
}
