* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #f8f8f9;
}
.navbar {
  display: flex;
  align-items: center;
  padding-top: 10px;
  background: #f8f8f9 0% 0% no-repeat padding-box;
}
.navbar img {
  padding-left: 140px;
  margin-right: 639px;
}
.nav-links {
  display: flex;
  margin-left: -100px;
}
.nav-links p {
  padding-right: 30px;
  text-transform: uppercase;
  font: normal normal bold 12px/15px Montserrat;
  font-weight: bold;
}
.nav-links p span {
  color: #0062ff;
}
.user-group {
  display: flex;
  align-items: center;
  padding-right: 140px;
}
.sign-in-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #0062ff;
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 54px;
  margin-left: 220px;
  font: normal normal bold 12px/15px Montserrat;
  cursor: pointer;
}
.sign-in-group i {
  padding-right: 10px;
}
.sign-up-group {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  background: #60d91a 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #60d91a4d;
  border-radius: 4px;
  padding: 15px 19px;
  font: normal normal bold 12px/15px Montserrat;
  cursor: pointer;
}
.main-content {
  display: flex;
  flex-direction: row;
  margin-top: 34px;
  margin-left: 310px;
  margin-right: 170px;
  background: #f8f8f9 0% 0% no-repeat padding-box;
}
.dashboard {
  background-color: #0b2a5a;
  width: 290px;
}

.profile-info {
  text-align: center;
  color: white;
  opacity: 1;
}
.profile-info p {
  color: #9a9abe;
  opacity: 1;
  font: normal normal normal 14px/18px Open Sans;
}
.title {
  margin-bottom: 2px;
}
.profile-info img {
  margin: 50px 70px 46px 50px;
  width: 150px;
  height: 150px;
  border: 2px solid #ffffff;
  opacity: 1;
  border-radius: 50%;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  color: #9a9abe;
  font: normal normal bold 14px/18px Open Sans;
  text-transform: uppercase;
  padding-top: 40px;
}
.dashboard-content img {
  margin-left: 30px;
  margin-right: 20px;
}
.dashboard-content-flex {
  display: flex;
  align-items: center;
  padding-bottom: 35px;
}
#dashboard-content-flex-first {
  border-left: 5px solid #60d91a;
  color: #60d91a;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
#dashboard-content-flex-first img {
  margin-left: 23px;
}
#dashboard-button {
  cursor: pointer;
}
.third-page-content {
  padding-left: 50px;
}
.personal-info {
  width: 960px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 10px #01368619;
  border-radius: 10px;
  opacity: 1;
  text-align: left;
  font: normal normal normal 18px Open Sans;
  letter-spacing: -0.45px;
  color: #000000;
  text-transform: capitalize;
  opacity: 1;
  padding: 20px;
}
.personal-info h5 {
  text-align: left;
  font: normal normal bold 14px Open Sans;
  letter-spacing: 0px;
  color: #728391;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: 20px;
}
.personal-info input {
  background: #f8f8f9 0% 0% no-repeat padding-box;
  border: none;
  padding: 16px 0px 15px 25px;
  margin-right: 20px;
  width: 445px;
  margin-bottom: 20px;
  margin-top: 10px;
}
#about-input {
  background: #f8f8f9 0% 0% no-repeat padding-box;
  border: none;
  padding: 16px 25px 15px 15px;
  width: 918px;
  margin-bottom: 0px;
  margin-top: 10px;
  text-align: center;
  font: normal normal normal 14px/22px Open Sans;
  letter-spacing: 0px;
  color: #728391;
  opacity: 1;
}
.contact-info {
  width: 960px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 10px #01368619;
  border-radius: 10px;
  opacity: 1;
  text-align: left;
  font: normal normal normal 18px Open Sans;
  letter-spacing: -0.45px;
  color: #000000;
  text-transform: capitalize;
  opacity: 1;
  padding: 20px;
  margin-top: 30px;
}
.contact-info h5 {
  text-align: left;
  font: normal normal bold 14px Open Sans;
  letter-spacing: 0px;
  color: #728391;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: 20px;
}
.contact-info input {
  background: #f8f8f9 0% 0% no-repeat padding-box;
  border: none;
  padding: 16px 0px 15px 25px;
  margin-right: 20px;
  width: 445px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.password-info {
  width: 960px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 10px #01368619;
  border-radius: 10px;
  opacity: 1;
  text-align: left;
  font: normal normal normal 18px Open Sans;
  letter-spacing: -0.45px;
  color: #000000;
  text-transform: capitalize;
  opacity: 1;
  padding: 20px;
  margin-top: 30px;
}
.password-info h5 {
  text-align: left;
  font: normal normal bold 14px Open Sans;
  letter-spacing: 0px;
  color: #728391;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: 20px;
}
.password-info input {
  background: #f8f8f9 0% 0% no-repeat padding-box;
  border: none;
  padding: 16px 0px 15px 25px;
  margin-right: 20px;
  width: 445px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.row {
  display: flex;
  flex-direction: row;
}
#adress-input {
  background: #f8f8f9 0% 0% no-repeat padding-box;
  border: none;
  padding: 16px 25px 15px 15px;
  width: 918px;
  margin-bottom: 20px;
  margin-top: 10px;

  font: normal normal normal 14px/22px Open Sans;
  letter-spacing: 0px;
  color: #728391;
  opacity: 1;
}
.save-btn {
  width: 390px;
  background: #0062ff 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  text-align: center;
  font: normal normal normal 14px Montserrat;
  letter-spacing: 2.8px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 17px 0px;
  margin-left: 335px;
}
#workshop-btn {
  cursor: pointer;
}
