* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #f8f8f9;
}
.navbar {
  display: flex;
  align-items: center;
  padding-top: 10px;
  background: #f8f8f9 0% 0% no-repeat padding-box;
}
.navbar img {
  padding-left: 140px;
  margin-right: 639px;
}
.nav-links {
  display: flex;
  margin-left: -100px;
}
.nav-links p {
  padding-right: 30px;
  text-transform: uppercase;
  font: normal normal bold 12px/15px Montserrat;
  font-weight: bold;
}
.nav-links p span {
  color: #0062ff;
}
.user-group {
  display: flex;
  align-items: center;
  padding-right: 140px;
}
.sign-in-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #0062ff;
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 54px;
  margin-left: 220px;
  font: normal normal bold 12px/15px Montserrat;
  cursor: pointer;
}
.sign-in-group i {
  padding-right: 10px;
}
.sign-up-group {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  background: #60d91a 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #60d91a4d;
  border-radius: 4px;
  padding: 15px 19px;
  font: normal normal bold 12px/15px Montserrat;
  cursor: pointer;
}
.main-content {
  display: flex;
  flex-direction: row;
  margin-top: 34px;
  margin-left: 310px;
  margin-right: 310px;
  background: #f8f8f9 0% 0% no-repeat padding-box;
}
.dashboard {
  background-color: #0b2a5a;
  padding: 0px 8px 0px 0px;
}

.profile-info {
  padding-left: 8px;
  text-align: center;
  color: white;
  opacity: 1;
}
.profile-info p {
  color: #9a9abe;
  opacity: 1;
  font: normal normal normal 14px/18px Open Sans;
}
.title {
  margin-bottom: 2px;
}
.profile-info img {
  margin: 50px 70px 46px 50px;
  width: 150px;
  height: 150px;
  border: 2px solid #ffffff;
  opacity: 1;
  border-radius: 50%;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  color: #9a9abe;
  font: normal normal bold 14px/18px Open Sans;
  text-transform: uppercase;
  padding-top: 40px;
}
.dashboard-content img {
  margin-left: 30px;
  margin-right: 20px;
}
.dashboard-content-flex {
  display: flex;
  align-items: center;
  padding-bottom: 35px;
}
#dashboard-content-flex-first {
  border-left: 5px solid #60d91a;
  color: #60d91a;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
#dashboard-content-flex-first img {
  margin-left: 23px;
}
.first-page-content {
  padding-left: 50px;
}
.summary {
  display: flex;
  flex-direction: row;
}
.summary-content {
  color: white;
  background: #6b00bc 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  padding: 26px 20px 24px 20px;
  width: 240px;
  margin-right: 60px;
  margin-bottom: 50px;
}

#amount {
  display: flex;
  justify-content: space-between;
  font: normal normal normal 32px/29px Open Sans;
}
.timeline {
  display: flex;
  flex-direction: row;
}
.timeline-content {
  text-align: center;
  background: #e8ecf1 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  width: 280px;
  margin-right: 60px;
  /* padding: 11px 0px; */
  font: normal normal normal 14px/40px Montserrat;
  color: #728391;
}
.timeline-content-first {
  text-align: center;
  background: #0062ff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #0062ff4d;
  border-radius: 20px;
  opacity: 1;
  width: 280px;
  margin-right: 60px;
  /* padding: 11px 0px; */
  font: normal normal normal 14px/40px Montserrat;
  color: #ffffff;
}

.workshop {
  margin-top: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 10px #01368619;
  border-radius: 10px;
  width: 960px;
}
.workshop-content {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  border-bottom: 5px solid #f8f8f9;
}
.content-image {
  padding-right: 50px;
}
.content-details h5 {
  color: #728391;
}
.content-details h1 {
  color: #1000a9;
}
.content-heading {
  color: #1000a9;
  font: normal normal normal 24px/30px Open Sans;
  letter-spacing: -0.6px;
  color: #1000a9;
  text-transform: capitalize;
}
.content-timing {
  font: normal normal normal 14px/24px Open Sans;
  letter-spacing: 0px;
  color: #aaaabe;
  padding-top: 10px;
  padding-bottom: 40px;
}
.content-details-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.workshop-footer {
  display: flex;
  justify-content: space-around;
  padding: 34px 0px 34px 0px;
}
.workshop-footer h4 {
  letter-spacing: 2.8px;
  color: #0062ff;
  text-transform: uppercase;
  font: normal normal bold 14px/29px Montserrat;
}
.social-media-icon i {
  color: #728391;
  width: 20px;
}
#workshop-button {
  cursor: pointer;
}
#profile-btn {
  cursor: pointer;
}
#msg-btn {
  cursor: pointer;
}
.notification {
  position: absolute;
  background: #df0000;
  color: white;
  padding: 1px 6px 2px 7px;
  border-radius: 50%;
  top: 932px;
  left: 355px;
}
